@import "../../../App.scss";
.box-root {
  width: 100%;
  .dataGrid-root {
    box-shadow: 10px 10px 10px #00000033;
    border: $border;
    border-radius: 15px;
    background-color: $SecondaryColor;
    .MuiDataGrid-cell:hover {
    }
  }
}
