@import "../../../App.scss";

.CreateChefMainDiv {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  padding: $paddingNormal;
  background-color: $primaryColor;
  label {
    font-size: $fontBigSize;
  }
  input {
    width: 30%;
  }
  select {
    width: 30%;
  }
  .CreateUserOldImage {
    width: 30%;
  }
}
