@import "../App.scss";
.divMain {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  input {
    width: 30%;
  }
  .pInfoLogin {
    text-decoration: underline;
  }
  .pAlertLogin {
    color: red;
  }
}
