@import "../App.scss";
.divMain {
  display: flex;
  flex-direction: column;
  gap: $gapNormal;
  .divLoginInputs {
    display: flex;
    flex-direction: column;
    gap: $gapSmall;
    input {
      width: 30%;
    }
  }
  .pAlertLogin {
    color: red;
  }
}
