@import "../../../App.scss";

.CreateDishMainDiv {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  padding: $paddingNormal;
  background-color: $primaryColor;
  label {
    font-size: $fontBigSize;
  }
  input {
    width: 30%;
  }
  select {
    width: 30%;
  }
  .CreateUserOldImage {
    width: 30%;
  }
  .DishRemoveButton {
    width: 50px;
    height: 20px;
    font-size: $fontSmallSize;
  }
}
