@import "../../../App.scss";

.CreateDishMainDiv {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
  padding: $paddingNormal;
  background-color: $primaryColor;
  label {
    font-size: $fontBigSize;
  }
  input {
    width: 30%;
  }
  select {
    width: 30%;
  }
  .CreateUserOldImage {
    width: 30%;
  }
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
    }
    li:not(:last-child)::after {
      content: ",";
      margin-right: 5px;
    }
  }
}
