@import "../../../App.scss";

.SideBarMainDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $gapSmall;

  ul {
    padding: $paddingSmall $paddingBig;
    display: flex;
    flex-direction: column;
    gap: $gapSmall; /* Sets gap between items in the ul using SCSS variable */
  }

  .sideBarButtonLog {
  }
}
